<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script src="{{ url_for('static', filename='heatmap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='leaflet-heatmap.js') }}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,800" rel="stylesheet"/>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>User Directory</title>
</head>
<body style="margin: 10px">
<h1 style="margin-left: 40%">Earthquakes</h1>
<h4>Name: Vighnesh Sivaraman</h4>
<h4>UTA ID: 1001878596</h4>

<div id="map-canvas"></div>

<br>
<form class="multi-range-field my-5 pb-5">
    <label for="time2">Magnitude</label>
    <br><input id="time2" type="text" readonly
               style="border:0; color:#f6931f; font-weight:bold;"/>
    <div id="time2-rage"></div>
    <br>
    <label>Date</label>
    <br>
    <label for="from">From</label>
    <input type="text" id="from" name="from">
    <label for="to">to</label>
    <input type="text" id="to" name="to">
    <br>
</form>
<button class="btn" id="apply" onclick="apply()">Apply</button>
<br>
<strong>Number of Incidents Retrieved: {{ data.total }}</strong>
<table id="earthquakes-table" class="table table-striped">
    <thead class="thead-light">
    <tr>
        <th>Time</th>
        <th>Time2</th>
        <th>latitude</th>
        <th>longitude</th>
        <th>depth</th>
        <th>mag</th>
        <th>magType</th>
        <th>net</th>
        <th>place</th>
    </tr>
    {% for row in data.items[:3] %}
        <tr>
            <td> {{ row.time }} </td>
            <td>{{ row.time2 }}</td>
            <td>{{ row.latitude }}</td>
            <td>{{ row.longitude }}</td>
            <td>{{ row.depth }}</td>
            <td>{{ row.mag }}</td>
            <td>{{ row.magType }}</td>
            <td>{{ row.net }}</td>
            <td>{{ row.place }}</td>
        </tr>
    {% endfor %}
    </thead>
</table>
<strong>Number of Incidents Retrived: {{ data.total }}</strong>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>

</html>
