<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script src="{{ url_for('static', filename='heatmap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='leaflet-heatmap.js') }}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,800" rel="stylesheet"/>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>User Directory</title>
</head>
<body style="margin: 10px">
<h1 style="margin-left: 40%">Earthquakes</h1>
<h4>Name: Vighnesh Sivaraman</h4>
<h4>UTA ID: 1001878596</h4>

<div id="map-canvas"></div>

<br>
<form class="multi-range-field my-5 pb-5">
    <label for="magnitude">Magnitude</label>
    <br><input id="magnitude" type="text" readonly
               style="border:0; color:#f6931f; font-weight:bold;"/>
    <div id="magnitude-rage"></div>
    <br>
    <label>Date</label>
    <br>
    <label for="from">From</label>
    <input type="text" id="from" name="from">
    <label for="to">to</label>
    <input type="text" id="to" name="to">
    <br><br>
    <label>Distance from a location</label><br>
    <label for="lat">Latitude</label>
    <input type="number" id="lat" step="0.1" min="-90" max="90" placeholder="Latitude min -90 to max +90"
           style="width: 17%"/><span> in degrees</span> <br>
    <label for="lon">Longitude</label>
    <input type="number" id="lon" step="0.1" min="-180" max="180" placeholder="Longitude min -180 to max +180"
           style="width: 19%"/><span> in degrees</span><br>
    <label for="dist">Distance</label>
    <input type="number" id="dist" step="0.1" min="0" max="10" placeholder="Distance in km" style="width: 10%"/><span> in km</span>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="night">
        <label class="custom-control-label" for="night">Night values between the time {{ nightStart }} to {{ nightEnd }}</label>
    </div>
</form>
<button class="btn" id="apply" onclick="apply()">Apply</button>
<ul class="pagination">
    {% if data.has_prev %}
        <li class="page-item"><a class="page-link" href="/?page={{ data.prev_num }}">Previous</a></li>
    {% else %}
        <li class="page-item disabled"><span class="page-link">Previous</span></li>
    {% endif %}
    {% for page in data.iter_pages(left_edge=3, right_edge=3) %}
        {% if page %}
            <li class="page-item"><a class="page-link" href="/?page={{ page }}">{{ page }}</a></li>
        {% else %}
            <li class="page-item disabled" id="table_ellipsis_head"><a href="#" class="page-link">...</a></li>
        {% endif %}
    {% endfor %}
    {% if data.has_next %}
        <li class="page-item"><a class="page-link" href="/?page={{ data.next_num }}">Next</a></li>
    {% else %}
        <li class="page-item disabled"><span class="page-link">Next</span></li>
    {% endif %}

</ul>
<strong>Number of Incidents Retrieved: {{ data.total }}</strong>
<table id="earthquakes-table" class="table table-striped">
    <thead class="thead-light">
    <tr>
        <th>Time</th>
        <th>latitude</th>
        <th>longitude</th>
        <th>depth</th>
        <th>mag</th>
        <th>magType</th>
        <th>nst</th>
        <th>gap</th>
        <th>dmin</th>
        <th>rms</th>
        <th>net</th>
        <th>id</th>
        <th>updated</th>
        <th>place</th>
        <th>type</th>
        <th>horizontalError</th>
        <th>depthError</th>
        <th>magError</th>
        <th>magNst</th>
        <th>status</th>
        <th>locationSource</th>
        <th>magSource</th>
    </tr>
    {% for row in data.items %}
        <tr>
            <td> {{ row.time }} </td>
            <td>{{ row.latitude }}</td>
            <td>{{ row.longitude }}</td>
            <td>{{ row.deptd }}</td>
            <td>{{ row.mag }}</td>
            <td>{{ row.mag }}Type</td>
            <td>{{ row.nst }}</td>
            <td>{{ row.gap }}</td>
            <td>{{ row.dmin }}</td>
            <td>{{ row.rms }}</td>
            <td>{{ row.net }}</td>
            <td>{{ row.id }}</td>
            <td>{{ row.updated }}</td>
            <td>{{ row.place }}</td>
            <td>{{ row.type }}</td>
            <td>{{ row.horizontal }}Error</td>
            <td>{{ row.deptd }}Error</td>
            <td>{{ row.mag }}Error</td>
            <td>{{ row.mag }}Nst</td>
            <td>{{ row.status }}</td>
            <td>{{ row.location }}Source</td>
            <td>{{ row.mag }}Source</td>
        </tr>
    {% endfor %}
    </thead>
</table>
<ul class="pagination">
    {% if data.has_prev %}
        <li class="page-item"><a class="page-link" href="/?page={{ data.prev_num }}">Previous</a></li>
    {% else %}
        <li class="page-item disabled"><span class="page-link">Previous</span></li>
    {% endif %}
    {% for page in data.iter_pages(left_edge=3, right_edge=3) %}
        {% if page %}
            <li class="page-item"><a class="page-link" href="/?page={{ page }}">{{ page }}</a></li>
        {% else %}
            <li class="page-item disabled" id="table_ellipsis_foot"><a href="#" class="page-link">...</a></li>
        {% endif %}
    {% endfor %}
    {% if data.has_next %}
        <li class="page-item"><a class="page-link"
                                 href="/?page=






                                         {{ data.next_num }}{#&minMag={{ getMinMagParam() }}&maxMag={{ getMaxMagParam() }}&fromDate={{ urlparse(getFromDateParam()) }}&toDate={{ urlparse(getToDateParam()) }}#}">Next</a>
        </li>

    {% else %}
        <li class="page-item disabled"><span class="page-link">Next</span></li>
    {% endif %}

</ul>
<strong>Number of Incidents Retrived: {{ data.total }}</strong>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>

</html>
